* {
 box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container .section {
    width: 30%;
    border: 1px solid rgb(136, 136, 136);
    background-color: #e6e6e6;
}

@media (min-width: 992px) {
    
}
@media (min-width: 768px) and (max-width: 991px) {
    
}
@media (max-width: 767px) {
    
}