* {
 box-sizing: border-box;
}

.container .section {
    padding: 1rem;
    border: 1px solid rgb(136, 136, 136);
    background-color: #e6e6e6;
}

@media (min-width: 992px) {
    .container {
        display: flex;
        justify-content: space-around;
    }
    .container .section {
        width: 30%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    
}
@media (max-width: 767px) {
    
}