* {
 box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.container .section {
    padding: 1rem;
    border: 1px solid rgb(136, 136, 136);
    background-color: #e6e6e6;
}

@media (min-width: 992px) {
    
}
@media (min-width: 768px) and (max-width: 991px) {
    
    
}
@media (max-width: 767px) {
    
}